:root{
  --display-text: 'Barlow', sans-serif;
  --reading-text: 'Open Sans', sans-serif;
}

body{
  font-family: var(--reading-text);
}

 h1{
  font-family: var(--display-text);
  font-size: 4rem;
  text-align: center;
  font-weight: 500;
  color: #222;
  letter-spacing: .2rem;
  background-color: #c8c0b6;
  padding: 20px;
}

div{
  position: relative;
}

div nav ul{
  text-align: left;
  position: absolute;
  left:10px;
  top: 40px;
  padding: 4px;
  width: 140px;
}

div nav ul li{
  line-height: 1.5rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1000px;
  font-family: var(--reading-text);
}

.item {
  position: relative;
  width: 70%;
  line-height: 0;
  text-align: right;
}

.item--image {
  width: 100%;
  margin-top: 40px;
}

.item--heading {
  margin: 8px 0;
  background-color: rgba(255, 255, 255, .9);
  line-height: 1.2;
  font-style: italic;
  font-size: 1.2rem;
}

.item--caption {
  margin: 8px 0;
  line-height: 1;
  font-size: .9rem;
  color:#444;
}
